profiles {

  aws {
    aws.region = 'us-east-1'
    docker.enabled = true

    process {
      executor = 'awsbatch'
      queue = 'NextflowDemo-Queue'
      container = '453183019867.dkr.ecr.us-east-1.amazonaws.com/nextflow-genomics-demo:latest'
      cpus = 2
      memory = '4 GB'
    }

    workDir = 's3://nf-wgs-demo/work'

    params {
      reads  = 's3://nf-wgs-demo/raw-data/*_{1,2}.fastq'
      genome = 's3://nf-wgs-demo/references//genome.fa'
      outdir = 's3://nf-wgs-demo/results'
    }
  }
}