profiles {

  aws {
    aws.region = 'us-east-1'
    docker.enabled = true

    process {
      executor = 'awsbatch'
      queue = 'nf-job-queue'
      container = 'yc2296/rnaseq-demo:latest'
      cpus = 1
      memory = '1 GB'
    }

    workDir = 's3://yundi-nf-rnaseq/work'

    params {
      reads  = 's3://yundi-nf-rnaseq/data/*_{1,2}.fastq'
      genome = 's3://yundi-nf-rnaseq/ref/genome.fa'
      outdir = 's3://yundi-nf-rnaseq/results'
    }
  }
}